XQuery.Project.And.DTD/t03.dtd

<!ELEMENT results (row*)>
<!ELEMENT row (name,company,location,money)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT company (#PCDATA)  >
<!ELEMENT location (#PCDATA)  >
<!ELEMENT money (#PCDATA) >
<!-- the location tag will 
     contain the name of the state 
     the money tag is associated with
     the salary  from 
     file widget.company.xml
     
     -->
<!ATTLIST location branch (1|2|3|4) '1' >
<!ATTLIST row rich (y|n) 'n' >
<!ATTLIST row gender (f|m) 'm' >